<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Mahasiswa Hobi</title>
</head>
<body>
    {% include 'navigasi.html' %}
    <h1>Edit Mahasiswa Hobi</h1>

    <form method="post" action="">
        <label for="nim">NIM: </label>
        <span>{{ nim }}</span>

        <br>

        <label for="nama">Nama: </label>
        <span>{{ mahasiswa_nama }}</span>

        <br>

        <label for="kodehobi">Kode Hobi:</label>
        <br>
        {% for hobi in hobi_list %}
            <input type="checkbox" name="kodehobi" value="{{ hobi.kodehobi }}" {% if hobi.kodehobi|string in kodehobi_checked %}checked{% endif %}>
            <label>{{ hobi.namahobi }}</label><br>
        {% endfor %}

        <br>

        <input type="submit" value="Simpan">
    </form>
{% include 'footer.html' %}
</body>
</html>
