<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Mahasiswa dan Hobi</title>
</head>
<body>
    {% include 'navigasi.html' %}
    <h1>Data Mahasiswa dan Hobi</h1>
    <table border="1">
        <tr>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>Hobi</th>
        </tr>
        {% for data in mahasiswa_hobi_data %}
            <tr>
                <td>{{ data['nim'] }}</td>
                <td>{{ data['nama'] }}</td>
                <td>{{ data['daftar_hobi'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% include 'footer.html' %}
</body>
</html>
