<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Hobi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navigasi.html' %}
    <h1>Tambah Hobi</h1>
    <form method="post">
        <!-- Isi form sesuai dengan field di tabel hobi -->
        Kode Hobi: <input type="text" name="kodehobi" required><br>
        Nama Hobi: <input type="text" name="namahobi" required><br>
        <input type="submit" value="Tambah">
    </form>
{% include 'footer.html' %}
</body>
</html>
