<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Mahasiswa</title>
</head>
<body>
    {% include 'navigasi.html' %}
    <h1>Tambah Mahasiswa</h1>
    <form method="post">
        <!-- Isi form sesuai dengan field di tabel mahasiswa -->
        NIM: <input type="text" name="nim" required><br>
        Nama: <input type="text" name="nama" required><br>
        Tempat Lahir: <input type="text" name="tempat_lahir"><br>
        Tanggal Lahir: <input type="date" name="tanggal_lahir"><br>
        Kota: <input type="text" name="kota"><br>
        Tanggal Masuk: <input type="date" name="tanggal_masuk"><br>
        Tinggi Badan: <input type="text" name="tinggi_badan"><br>
        <input type="submit" value="Tambah">
    </form>
{% include 'footer.html' %}
</body>
</html>
